version: '3'

services:
  searxng:
    image: searxng/searxng:latest
    container_name: searxng
    hostname: searxng
    ports:
      - 8888:8080
    volumes:
      - ./searxng-data:/etc/searxng:rw
    environment:
      - BASE_URL=http://localhost:8888
      - TZ=America/New_York
    restart: always
